.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-container div {
  margin: 0.3em;
  /* background-color: red; */
}

.icons-container div div {
  background-color: rgb(21, 45, 53);
  color: rgb(212, 236, 221);
  padding: 0.3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 4em;
}

.icons-container div h3 {
  text-align: center;
}