header {
  display: flex;
}

.logo-container {
  display: flex;
}

.nav-menu-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: blue;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  top: 10vh;
  width: 130px;
  margin-left: auto;
  text-align: center;
  background-color: magenta;
}

.nav-menu.visible {
  opacity: 1;
}

.nav-item {
  margin: 10px 0 ;
}

#checkbox-menu {
  position: absolute; /*responsável por garantir que ele nao atrapalhe o fluxo da pagina e que seja invisível */
  opacity: 0;
}

.list-lines {
  display: block;
  height: 25px;
  width: 30px;
  position: relative;
  top: 4vh;
  margin-left: auto;
  background-color: red;
}

.list-lines span {
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 50px;
  transition: 0.25s ease-in-out;
}

.list-lines span:nth-child(1) { /*nth-child garante que so seja executado caso for span e primeiro filho de .list-lines */
  top: 0px;
}

.list-lines span:nth-child(2) {
  top: 8px;
}
.list-lines span:nth-child(3) {
  top: 16px;
}

#checkbox-menu:checked + .list-lines span:nth-child(1) { /* operador + pega o primeiro filho e executa quando o checkbc estiver checked */
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + .list-lines span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + .list-lines span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}