.project-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container a img {
  width: 70vw;
  border-radius: 10%;
}

.project-container div h2 {
  text-align: center;
}

.project-container div p {
  text-align: center;
}